/* styles for pull to refresh */

div.pullrefresh, div.pullrefresh div.msgwrap {
  background-color: #e1e1e1 !important;
}

div.pullrefresh span.arrow {
  width: 32px;
  height: 60px;
  position: absolute;
  top: 0;
  left: 10px;
  background-image: url('/resources/img/blackArrow.png');
  background-repeat: no-repeat;
  margin: 10px 0 0 25px;
}

div.loadingspacer span.loading {
  width: 32px;
  height: 60px;
  position: absolute;
  top: 0;
  left: 10px;
  background-image: url('/resources/img/loader.gif');
  background-repeat: no-repeat;
  background-position: 0 7px;
}

div.pullrefresh span.msg, div.loadingspacer span.msg {
  width: 80%;
  text-align: center;
  font-size: 0.9em;
  position: absolute;
  top: 12px;
  left: 40px;
  margin: 5px 0 5px 40px; 
  font-weight: bold;
}

div.pullrefresh span.lastupdate {
  width: 80%;
  text-align: center;
  font-size: 0.7em;
  position: absolute;
  top: 25px;
  left: 40px;
  margin: 15px 0 5px 40px;
}